{% extends "base.html" %}
{% load static %}

{% block style %}
.logo_img {
  width: 100px;
}
div { 
  padding-top : 20px;
}

{% endblock style %}

{% block content %}
  <div class="d-flex justify-content-center">
    <div>
      <div class="text-center">
        <img src="{% static "img/logo_mini.png" %}" class="logo_img" alt="" >
      </div>
      <div class="text-center">
        <h2>비밀번호 변경</h2>
        <p>
          COMPPOINT는 취업준비생과 직장인을 위한 사이트입니다
        </p>
        <hr>
      </div>
      <form action="{% url "accounts:change_password" request.user %}" method="POST" >
        {% csrf_token %}
        {{form.as_div}}
        <div class="d-flex justify-content-center mt-3">
          <input type="submit" class="btn btn-success" value="적용">
          <a class="btn btn-light ms-2" href="{% url "accounts:profile" request.user %}">취소</a>
        </div>
      </form>
    </div>
  </div>

  <script>
    document.getElementById('login').classList.add('active');
  </script>
{% endblock content %}