{% extends "base.html" %}

{% block style %}
.cat-div {
  font-family: 'NanumSquareBold';
}
.like_btn {
  background-color : #FED76D;
}
.comment-btn {
  background-color : #FED76D;
}
{% endblock style %}

{% block content %}
  <div class="container">
    <div class="cat-div my-3">
      <span class="cat-span fs-5">카테고리 : {{ post.category.name }}</span>
    </div>
    <hr>
    <strong class="fs-4">{{ post.title }}</strong>
    <div class="my-3">
      <span class="">{{ post.user.nickname }} |</span>
      <span>{{ post.created_at | date:'Y.m.d H:i'}}</span>
    </div>
    <hr>
    {% if post.image %}
      <img src="{{ post.image.url }}" alt="#">
    {% endif %}
    <p>{{ post.content |safe | linebreaksbr }}</p>

    <hr>
    <div class="d-flex justify-content-end">
      <div class="me-2">
        <form action="{% url "posts:like" post.pk %}" method="POST">
          {% csrf_token %}
          {% if request.user in post.like_users.all %}
            <button type="submit" class="btn btn-light ms-3 like_btn">좋아요 취소</button>
          {% else %}  
            <button type="submit" class="btn btn-light ms-3 like_btn">좋아요</button>
          {% endif %}
        </form>
      </div>
      <a class="btn btn-light me-2" href="{% url "posts:index" %}">뒤로가기</a>
      {% if request.user.username == post.user.username %}
      <a class="btn btn-light me-2" href="{% url "posts:update" post.pk %}">수정</a>
      <form action="{% url "posts:detail" post.pk %}" method="POST">
        {% csrf_token %}
        <input class="btn btn-light" type="submit" value="삭제">
      </form>
      {% endif %}
    </div>
    <hr>
    <div class="border rounded">
      <form action="{% url "posts:comment_create" post.pk %}" method="POST" class="m-2 d-flex justify-content-between">
        {% csrf_token %}
        {{ comment_form.as_div }}
        <input type="submit" value="댓글 작성" class="btn comment-btn">
      </form>
    
    </div>
    <hr>
    {% if comments %}
      {% for comment in comments %}
      <div class="border rounded m-2">
        <div class="d-flex justify-content-between">
          <div class="m-2">
            <span class="me-2">{{ comment.user.nickname }}</span>|
            <span class="ms-2">
              {% if comment.created_string %}
              <span>{{ comment.created_string }}</span>
              {% else %}
              <span>{{ comment.created_at | date:'Y.m.d H:i' }}</span>
              {% endif %}
            </span> 
          </div>
          <div>
            <form action="{% url "posts:comment_like" post.pk comment.pk %}" method="POST">
              {% csrf_token %}
                {% if request.user in comment.like_users.all %}
                  <button type="submit" class="btn ms-3"><i class="bi bi-heart-fill"></i></button>
                {% else %}  
                  <button type="submit" class="btn ms-3"><i class="bi bi-heart" type="submit"></i></button>
                {% endif %}
                <span class="m-2">{{ comment.like_users.all | length }}</span>
            </form>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="m-2">
            <span> {{ comment.content }}</span>
          </div>
          <div>
          {% if request.user == comment.user %}
              <form action = "{% url "posts:comment_delete" post.pk comment.pk %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="삭제" class="btn btn ms-3" class="m-2">
              </form>
          {% endif %}
          </div>
        </div>

    </div>
      {% endfor %}
    {% else %}
    <div class="border rounded mt-5 m-2 p-5 text-center">
      아직 댓글이 없습니다. 첫번째 댓글의 주인공이 되어주세요!
    </div>
    {% endif %}
<script>
  document.getElementById('post').classList.add('active');
</script>
{% endblock content %}